@import url('https://fonts.googleapis.com/css?family=Do+Hyeon:100,200,300,400,500,600,700|Titillium+Web:100,200,300,400,500,600,700');

/*--------------------------------------------------HTML*/

html {
    height: 100%;
}

/*--------------------------------------------------Body*/

body {
    font-family: "Titillium Web", sans-serif;
    background-color: #F8E16C;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*--------------------------------------------------Header*/

header {
    height: 5rem;
}

.navbar {
    z-index: 1;
    height: 5rem;
    background: #F5F5F5;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 0.5rem 0.05rem #125154;
}

.navbar-brand {
    font-family: "Do Hyeon", sans-serif;
    text-transform: uppercase;
    color: #125154;
    letter-spacing: 0.1rem;
    font-weight: 600;
    font-size: 3rem;
    margin-left: 1rem;
    margin-right: 0;
}

@media only screen and (min-width:350px) {
    .navbar-brand {
        margin-left: 2rem;
    }
}

.navbar-brand:hover {
    color: transparent;
    background-image: linear-gradient( #DAD2D6, #F8E16C );
    background-size: auto 115%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-position-y: -15%;
}

.navbar-nav {
    background: #dad2d6;
    border-bottom: 0.05rem solid #F5F5F5;
}

@media only screen and (min-width: 992px) {
    .navbar-nav {
        background: none;
        border-bottom: none;
    }
}

.nav-link {
    color: #125154;
    text-align: center;
}

.nav-link:hover {
    color: #125154;
    background: #F5F5F5;
}

@media only screen and (min-width: 992px) {
    .nav-link {
        font-size: 1.25rem;
        padding: 0 !important;
        margin-right: 2rem;
    }

    .nav-link:hover {
        border-bottom: 1px solid #125154;
    }
}

.active {
    background: #F5F5F5;
}

@media only screen and (min-width: 992px) {
    .active {
        border-bottom: 1px solid #125154;
    }
}

/*--------------------------------------------------Hamburger menu: code from md bootstrap*/
.navbar-toggler {
    margin-right: 1rem;
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (min-width:350px) {
    .navbar-toggler {
        margin-right: 2rem;
    }
}

#hamburger-button {
    outline: none;
}

.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon span {
    display: block;
    position: absolute;
    background: #125154;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon span:nth-child(1) {
    top: 0px;
}

.animated-icon span:nth-child(2), .animated-icon span:nth-child(3) {
    top: 10px;
}

.animated-icon span:nth-child(4) {
    top: 20px;
}

.animated-icon.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon:hover span {
    background: #F8E16C;
}

/*--------------------------------------------------Main*/

.container-fluid {
    margin-top: 1rem;
}

.card {
    color: #125154;
    background: #F5F5F5;
    margin-bottom: 1rem;
}

#rank-one {
    color: #F5F5F5;
    background: #125154;
}

.team-photo {
    display: none;
}

@media only screen and (min-width:768px) {
    .team-photo {
        display: block;
    }
}

.btn {
    color: #F5F5F5;
    background: #125154;
}

.btn:hover {
    color: #F5F5F5;
    background: #F8E16C;
}

.update-btn, .modal-btn {
    margin-top: 1rem;
    margin-right: 1rem;
}

.modal {
    text-align: center;
}

.page {
    color: #125154;
    background: #F5F5F5;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem; 
}

.content {
    padding: 1rem;
}

.text {
    text-align: center;
    color: #125154;
    margin-bottom: 2.5rem;
}

/*--------------------------------------------------Footer*/

footer {
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 0.9rem;
    margin-top: auto;
    background: #DAD2D6;
    color: #125154;
    text-align: center;
    border-top: 0.05rem solid #F5F5F5;
}