@import url('https://fonts.googleapis.com/css?family=Do+Hyeon:100,200,300,400,500,600,700|Titillium+Web:100,200,300,400,500,600,700');

/*--------------------------------------------------HTML*/

html {
    height: 100%;
}

/*--------------------------------------------------Body*/

body {
    font-family: "Titillium Web", sans-serif;
    background-color: #F8E16C;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*--------------------------------------------------Header*/

.navbar {
    height: 75px;
    background: #F5F5F5;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 10px 1px #125154;
}

.block-under-header {
    height: 75px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #F5F5F5;
}

.navbar-brand {
    font-family: "Do Hyeon", sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    color: #125154;
    letter-spacing: 2px;
    font-weight: 600;
    float: left;
    font-size: 3rem;
    margin-left: 30px;
    margin-right: 0;
    position: fixed;
}

.width-navbar-collapse {
        width: 100%;
}

.nav-link {
    font-size: 110%;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 0 !important;
    margin-right: 30px;
    color: #133C55;
}

/*--------------------------------------------------Footer*/

footer {
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 0.9rem;
    margin-top: auto;
    background: #DAD2D6;
    color: #125154;
    text-align: center;
    border-top: 0.05rem solid #F5F5F5;
}