<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css" />
    <script src="https://kit.fontawesome.com/ef6663c95f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
    <script type="text/javascript">
        (function(){
            emailjs.init("user_JoXwi5YGvjOJYOUw3KYuV");
        })();
    </script>
    <title>PubScore</title>
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-lg">
            <a href="{{ url_for('index') }}" class="navbar-brand">PubScore</a>
            <button class="navbar-toggler" id="hamburger-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23" aria-controls="navbarSupportedContent23" aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-icon"><span></span><span></span><span></span><span></span></div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent23">
                <ul class="navbar-nav ml-auto">
                    {% if not g.user %}
                    <li class="nav-item">
                        <a href="{{ url_for('index') }}" class="nav-link {% if request.path == url_for('index') %} active {% endif %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('overview') }}" class="nav-link {% if request.path == url_for('overview') %} active {% endif %}">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('login') }}" class="nav-link {% if request.path == url_for('login') %} active {% endif %}">Log In / Register</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('dashboard') }}" class="nav-link {% if request.path == url_for('dashboard') %} active {% endif %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('overview') }}" class="nav-link {% if request.path == url_for('overview') %} active {% endif %}">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('updateteams') }}" class="nav-link {% if request.path == url_for('updateteams') %} active {% endif %}">Update Teams</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('addteam') }}" class="nav-link {% if request.path == url_for('addteam') %} active {% endif %}">Add Team</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('contact') }}" class="nav-link {% if request.path == url_for('contact') %} active {% endif %}">Contact</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    
    <section class="container-fluid main">
        {% block content %}
        {% endblock %}
    </section>
    
    <footer>
        <div>© 2020 Copyright: Frances Vugts</div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/sendmail.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#hamburger-button').on('click', function () {
                $('.animated-icon').toggleClass('open');
            });
        });
    </script>

</body>
</html>