<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css" />
    <script src="https://kit.fontawesome.com/ef6663c95f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    <title>PubScore</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg" id="navbar">
            <a href="{{ url_for('index') }}" class="navbar-brand">
                PubScore
            </a>
            <div class="width-navbar-collapse">
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link" id="home-link">Home</a></li>
                        <li class="nav-item"><a href="{{ url_for('overview') }}" class="nav-link" id="overview-link">Overview</a></li>
                        <li class="nav-item"><a href="{{ url_for('updatescore') }}" class="nav-link" id="update-link">Update Score</a></li>
                        <li class="nav-item"><a href="{{ url_for('addteam') }}" class="nav-link" id="add-link">Add Team</a></li>
                        <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link" id="contact-link">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div>© 2020 Copyright: Frances Vugts</div>
    </footer>
</body>
</html>