{% extends 'base.html' %}
{% block content %}
    <div class="row page">
        <div class="col-12 content">
            <!-- A contact form for the owner of the pub in case there's any problems with the website -->
            <div class="title-text">
                <h1>In case of any problems</h1>
                <h4>Please use this contact form</h4>
            </div>
            <form class="contact-form" onsubmit="return sendMail(this);">
                <input type="text" id="name" name="name" placeholder=" Name" class="form-control" required/><br>
                <input type="email" id="email" name="email" placeholder=" Email" class="form-control" required/><br>
                <textarea rows="5" id="message" name="message" placeholder=" Message" class="form-control" required></textarea><br>
                <input type="submit" class="submit-btn btn form-control" value="Submit"/>
            </form>
        <div>
    </div>
{% endblock %}