{% extends 'base.html' %}
{% block content %}
    <div class="row page">
        <div class="col-12 content">
            <!-- Information for the administrator -->
            <div class="title-text">
                <h1>Welcome to your dashboard!</h1>
            </div>
            <div class="text">
                <p>
                    As administrator you can now use extra pages in the menu on the upper right corner.<br>
                    First of all, you can still take a look at the overview page, where you can see the ranking of the teams.<br>
                    <br>
                    Now you can also add new team to the competition on the Add Team page.<br>
                    To add a team, you will at least need a team name and you will have to choose a starting score.<br>
                    In most cases the starting score will be 0, but if you want to start a team with another score that's possible as well.<br>
                    If the team has a url to a team photo, you can add this link, but it's not required.<br>
                    <br>
                    After each pubquiz you can update the scores for the teams on the Update Teams page.<br>
                    On this page, the teams are sorted by the teams name for easy updating.<br>
                    You can just fill in the points that where scored by each team.<br>
                    In case of any mistakes, you can correct this by substracting points with the minus symbol.<br>
                    If a team wants to drop out of the competition, you can also delete a team with the button on this page.<br>
                    <br>
                    Lastly, you can use the contact page in case any problems with the site occur.
                </p>
            </div>
        </div>
    </div>
{% endblock %}