{% extends 'base.html' %}
{% block content %}
<div class="row page">
    <div class="col-12 content">
        <!-- Information for the visitors of PubScore -->
        <div class="title-text">
            <h3>Welcome to PubScore!</h3>
        </div>
        <div class="text">
            <p>
                And welcome to this years pubquiz competition.<br>
                You can use the menu on the upper right to visit the overview page.<br>
                On this page you can see how your team is doing.<br>
                The date will tell you if the points from the last round have been added yet.<br>
                May the best team win :)<br>
                Good luck to all!<br>
                <br>
                <br>
                If you are the admin for this competition, you can use the Log In/Register page.<br>
                From there you will get redirected to the admin dashboard page.
            </p>
        </div>
    <div>
</div>
{% endblock %}