{% extends 'base.html' %}
{% block content %}
    <div class="row page">
        <div class="col-12 content">
            <!-- A login page for the admin to be able to use functions that make changes to the database -->
            <div class="title-text">
                <h1>Log in page!</h1>
                <h4>Please sign in by entering your username and password below.</h4>
            </div>
            <form class="form">
                <input type="text" id="username" name="username" placeholder=" Username" class="form-control form-margin" required/>
                <input type="password" id="password" name="password" placeholder=" Password" class="form-control form-margin" required/>
                <input type="submit" class="submit-btn btn form-control form-margin-btn" value="Log in"/>
            </form>
        </div>
    </div>
{% endblock %}