{% extends 'base.html' %}
{% block content %}
    <!-- An overview of all the teams in the competition ranked by score -->
    <div class="row">
        {% for competitor in competitors %}
            <div class="col-lg-6">
                <div class="card" id="{% if loop.index == 1 %}rank-one{% endif %}">
                    <div class="row">
                        <div class="col-md-5 team-photo">
                            <img src="{{competitor.photo}}" class="card-img" alt="Team photo">
                        </div>
                        <div class="col-md-7 my-auto">
                            <div class="card-body">
                                <h5 class="card-title">Rank: {{loop.index}}</h5>
                                <p class="card-text">
                                Team name: {{competitor.team_name}}<br>
                                Team score: {{competitor.score}}<br>
                                Last update: {{competitor.last_update}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}