{% extends 'base.html' %}
{% block content %}
    {% for competitor in competitors %}
        <form action="{{ url_for('updatescore', competitor_id=competitor._id, competitor_name=competitor.team_name) }}" method="POST">
            {{competitor.team_name}}
            {{competitor.score}}
            <input type="number" name="points_scored" id="points_scored" class="form-control" placeholder="Points scored" />
            <button type="submit" class="btn">Update score!</button>
            <a href="{{url_for('deleteteam', competitor_id=competitor._id)}}" class="btn">Delete team!</a>
        </form>
    {% endfor %}
{% endblock %}