{% extends 'base.html' %}
{% block content %}
    <div class="row page">
        <div class="col-12 content">
            <div class="title-text">
                <h1>Update teams!</h1>
                <h4>Below you can add (or substract) points for each team, or delete a team from the competition.</h4>
            </div>
        </div>
    </div>
    <div class="row">
        {% for competitor in competitors %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <!-- Overview of al the teams sorted bij teamname, with a field to update each teams score and u button to delete a team from the competition -->
                        <form action="{{ url_for('updatescore', comp_id=competitor._id, score=competitor.score) }}" method="POST">
                            <h5 class="card-title">{{competitor.team_name}}</h5>
                            <p class="card-text">
                            Team score: {{competitor.score}}<br>
                            Last update: {{competitor.last_update}}
                            </p>
                            <input type="number" name="points_scored" id="points_scored" class="form-control" placeholder="Points scored" />
                            <button type="submit" class="btn update-btn">Update score!</button>
                            <button type="button" class="btn update-btn" data-toggle="modal" data-target="#myModal-{{competitor._id}}">Delete team!</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- When deleting a team, this modal will become visible to check if that's really what the user wants to do -->
            <div class="modal fade" id="myModal-{{competitor._id}}">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h2>Are you sure you want to delete team {{competitor.team_name}}?</h2>
                            <a href="{{url_for('deleteteam', comp_id=competitor._id)}}" class="btn modal-btn">Yes</a>
                            <a href="" class="btn modal-btn">No</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}